body{
    margin: 0;
    padding: 0;
    /*background-color: cadetblue;
    background-image: url('IImg2.jpg');*/
    background: url('IImg2.jpg') no-repeat top right;
    background-size: cover; 
}
   p{ 
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    font-style:italic;
    font-weight: 500;
    text-align: center;
    text-decoration: wavy;
    text-transform: uppercase;
    text-shadow: 2px 0px 5px #000;
    display: inline-block;
}
#para{
    color: brown;
}
html,*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    float:inline-end;
    margin-right: 10px;
    border: 10px solid #999;
    /*border-radius: 50%;*/
    clip-path: circle(50%);
}